@CHARSET "UTF-8";
*{
	margin:0 auto;
	padding:0;
}
body{
	background:#FFF;
	color:#333;
	font:15px/1.6em Arial, Helvetica, sans-serif;
}
a{
	color:#0287CA;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
ul,li{
	list-style:none;
}
img{
	border:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
}
html{
	overflow:-moz-scrollbars-vertical;
}