.login{
	width: 400px;
	height: 370px;
	background-color: #0D92DF;
	z-index: 2;
	position: absolute;
	left:460px;
	top:135px;
	
	}
.login_form{
		margin-top: 80px;
		margin-left: 10px;
		
	}
.login_form table tr td{
	font-size: 30px;
	font-family: »ªÎÄÐÂÎº;
	color: white;
	}
.login_form table tr{
	margin-top: 30px;
	line-height: 40px;
	}
.sub{
	
	margin-left: 1px;
	
	}
.bg_img{
		top:2px;
		left:270px;
		z-index: 1;
		position: absolute;
		
	}
.forget{
	color: white;
	}